body {
	-webkit-text-size-adjust:none;
	font-family:Helvetica, Arial, Verdana, sans-serif;
	padding: 0px;
	margin: 0px;
}

div {
	overflow: hidden;
}

#container {
	width: 100%;
}

#header, #content, #footer { margin: 5px; text-align: center; }

#footer p {
	font-size: 75%;
}

h3 { font-size: 120%; text-transform: uppercase; }

#loader {
	display: none;
	background-color: black;
	position: absolute;
	padding-top: 150px;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	text-align:center;
	z-index: 1000;
	opacity: 0.5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}

img {
	max-width: 100%;
}

label {
	display: block;
}
input {
	margin: 5px 0px;
	font-size: 120%;
	padding: 5px;
	width: 90%
}